<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloSpring" class="com.itsr.HelloSpring">
        <property name="message" value="HelloSpring!"/>
    </bean>
    <bean id="userDao" class="com.itlsr.dao.impl.UserDaoImpl"></bean>

<!--    set方法-->
<!--    <bean id="userService" class="com.itlsr.service.impl.UserServiceImpl">-->
<!--        <property name="userDao" ref="userDao"></property>-->
<!--    </bean>-->

<!--    构造器-->
    <bean id="userService" class="com.itlsr.service.impl.UserServiceImpl">
        <constructor-arg name="userDao" ref="userDao"></constructor-arg>
    </bean>
</beans>